# Archivos de Visual Studio
.vs/
*.user
*.suo

# Directorios de compilación
bin/
obj/

# Archivos temporales y de caché
*.log
*.tmp
*.cache
*.dbmdl

# Archivos de configuración del entorno
*.DotSettings.user
*.db

# Paquetes NuGet (si los descargás localmente)
packages/
